.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.boxes > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 5%;
  margin-bottom: 1rem;
  background: var(--color-background);
  -webkit-box-shadow: 0px 0px 12px 0px var(--color-shadow);
  box-shadow: 0px 0px 12px 0px var(--color-shadow);
  border-radius: 25px;
  min-width: 200px;
  min-height: max-content;
  box-sizing: content-box;
}

/* Just leaving this out of interest: 
- I know I can define a background image in HTML, but then it won't cover the entire box anymore, how do I do that?
- If I decrease the opacity for this item, everything that layers over it, will become opaque as well, how can that be fixed?

.boxes__skills {
  background-image: url(images/Screenshot\ 2022-01-16\ at\ 14-19-54\ pencils-389995_1280.png);
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  opacity: 0.6;
}
*/
